.footer{
    grid-column: 3/4;
    grid-row: 5/6;
  
    text-align: right; 
    margin: 0px;
    padding: 0px;
}
.contactFooter{
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0; 
    padding-right: 1rem;
  
    overflow: hidden;
    text-decoration: none;
  
    outline: none;
    color: rgba(0,0,0, 0.85);
    background: transparent;
    font-size: 0.85rem;
}

a:link {
    color: rgba(0,0,0, 0.85);
    text-decoration: none;
}

@media only screen and (max-width: 1200px){
    .footer {
        grid-column: 2/3;
        grid-row: 6/7;

        text-align: center;
    }
}

