.footer{
    font-family: 'Titillium Web', sans-sarif;
    font-size: 8px;

    grid-column: 3/4;
    grid-row: 5/6;
  
    text-align: right; 
    margin: 0px;
    margin-top: 15px;
    padding: 0px;
}

.indexFooter{
    font-family: 'Titillium Web', sans-sarif;
    font-size: 8px;

    grid-column: 2/3;
    grid-row: 3/3;
  
    text-align: right; 
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
}


.contactFooter{
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0; 
    padding-right: 1rem;
  
    overflow: hidden;
    text-decoration: none;
  
    outline: none;
    color: rgba(0,0,0, 0.85);
    background: transparent;
    font-size: 0.85rem;
}

a:link {
    color: rgba(0,0,0, 0.85);
    text-decoration: none;
}

@media only screen and (max-width: 1200px){
    .indexFooter {
        grid-column: 2/3;
        grid-row: 3/4;

        text-align: center;
    }

    .footer {
        grid-column: 2/3;
        grid-row: 6/7;

        text-align: center;
    }


}

