.imagecontainer{
    background-color: rgba(255,255,255, 0.85);
    margin: 3px;
    padding: 0px; 

    width: auto;
    height: 480px;
    //max-height: 650px;

    overflow: hidden;
    
    grid-column: 2/3;
    grid-row: 3/4;

}

.image{
    min-height: 100%;
    max-width: 100%;

    transform: scale3d(1, 1, 1);
}

#element.style{
    transform: scale3d(1, 1, 1);
}

.ril-image-current, .ril__image, .ril__imageDiscourager, .ril__imagePrev, .ril__imageNext{
    transform: scale3d(1, 1, 1);
}

@media only screen and (max-width: 1200px) {
    .imagecontainer{
      width: auto;
      max-height: 100%;

      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: 10px;
      margin-right: 10px;
    
     // grid-column: 2/3;
     // grid-row: 3/4;
    }
}