@import url('https://fonts.googleapis.com/css?family=Raleway|Titillium+Web:400,900&display=swap');



.wrapper{
  font-family: 'Titillium Web', sans-sarif;
  min-width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
//  transform-box: translate();
  z-index: 2;
  width: 100%;
  margin:0;
  padding:0;

  justify-content: center;
}

.content{
   // position:absolute;
    display: grid;

    grid-template-columns: auto 400px 640px auto;
    grid-template-rows: auto 1fr 480px 0.1fr auto;

    vertical-align: center;
    align-items: center;
    justify-items: stretch;
  }

  
.indexcontent{
  // position:absolute;
   display: grid;

   grid-template-columns: auto auto auto;
   grid-template-rows: auto 1fr 0.5fr auto;

   vertical-align: center;
   align-items: center;
   justify-items: stretch;
   
 }
  
  @media only screen and (max-width: 1200px){
    body, html {
      width:100vw;
      max-height: 100vh;
      overflow: initial;
    }

    .wrapper{
      overflow-y:scroll;
      height: 100%;
      
    }

    .content { 
      display:list-item;
     // position:relative;

     // display:block;
    //  overflow-y:scroll;

    //  vertical-align: auto;
    //  align-items: baseline;
    //  justify-items: stretch;

     // padding:0;

     // grid-template-columns: auto 80vw auto;
     // grid-template-rows: auto 0.15fr 0.3fr auto 5px auto

     // vertical-align: center;
    }

    .indexcontent { 
      position:absolute;
      transform: translateY(50%);

      width: 100vw;
      max-height: 100vh;

      margin:0;

      display:grid;
      overflow-y:scroll;

      vertical-align: center;
      align-items: baseline;
      justify-items: stretch;

      padding:0;

      grid-template-columns: 12.5vw 75vw 12.5vw;
      grid-template-rows: 20px 1fr 0.5fr 20px;
    }
  }  