.menu {
    vertical-align: middle;
  
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0px;
    margin-right: 0px;
    
    text-align: center;
  
    display: flex;
    justify-content: space-between;
}