.text {
    font-family: 'Titillium Web', sans-sarif;
    font-size: 16px;
    margin: 5px;
    margin-bottom: 5px;
    padding: 10px;
    padding-bottom: 30px;

    grid-row: 1/2;
  }

  h2 {
      font-size: 20px;
      line-height: 20px;
      margin-top: 0;
  }

  .textcontainer {
      display:grid;
      grid-template-rows: 1fr 40px;

      background-color: rgba(255, 255, 255 , 0.65);
      //width: 350px;
      height: -webkit-fill-available;
      margin: 0;
      margin-top: 3px;

      grid-column: 3/4;
      grid-row: 2/4;
     // padding: 5px;
  }

  @media only screen and (max-width: 1200px){
    .textcontainer {
      //  grid-column: 2/3;
      //  grid-row: 4/5;

        min-height: 400px;

        margin-top: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }
 }

 .textbox{
    align-content: flex-end;  
    justify-content: baseline;  
 }

.logosContainer {
    position: relative;
    display:  inline;
    bottom: 10px;
}

.logos {
     // min-width: 100%;
      position:inherit;
      bottom: 0px;
      display: inline;
      text-align: right;

      margin: 10px;
  }

 .logo {
    max-height: 40px;
    //max-width: 100px;
    padding: 0;
    margin: 0;
    margin-left: 5px;
  }

li {
      display:inline-block;
     // max-height: 30px;
     // width: 100px;
      margin-left: 1em;
     // float: right;
}


ul {
    max-height: 40px;
   // width: 100px;
    //float: right;
}

td {
    font-size: 11px;
}


a { color: black; }
a:default { color:black; }
a:focus   { color: black;}
a:hover   { color: white; }
a:active  { color: black; }