@import url('https://fonts.googleapis.com/css?family=Raleway|Titillium+Web:400,900&display=swap');

.title  {
    font-family: 'Titillium Web', sans-sarif;
    /* font-size: 7rem;  */

    font-size: 70px;
    font-weight: 900;
    line-height: 50px;
    text-align: center;
  
    width: 100%;
    height: 100%;
  
    margin: 0;
    padding: 0px;
  
    color:rgba(0,0,0,1);
  
    display: inline-block; 
    top: -100%;
  
    padding-top: 0;

  }

.titlecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255, 0.65);

    margin: 3px;
    padding: 10px; 
    padding-bottom: 20px;

    min-height: 100px;
    
    grid-column: 2;
    grid-row: 2;

    mix-blend-mode:difference;
  }

  @media only screen and (max-width: 1200px) {
    .titlecontainer{
      grid-column: 2/3;
      grid-row: 2/3;

      max-width: 100%;
    } 
    .title{
      padding: 0;
      margin: 0;
      line-height: 72px;
      font-size: 30px;
    }
}